@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --font-secondary: "Inter", sans-serif;
  --font-primary: "DM Sans", sans-serif;
 --font-accent: "Playfair Display", serif;
    --w-8xl: 1440px;
   --color-dark: rgba(45, 45, 45, 1);
   --secondary-text:rgba(179, 179, 179, 1);
}

@layer utilities {
  .max-w-8xl {
    max-width: 1440px;
  }
}

::selection{
  background-color: #ff6e00;
  
}
.hover-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
 
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  will-change: transform;
}



.font-primary {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
}

.font-secondary {
  font-family: var(--font-secondary);
  font-optical-sizing: auto;
}

.font-accent{
  font-family: var( --font-accent);
}

.custom-tracking {
  letter-spacing: 0.02em; /* 2% */
}


*{
  box-sizing: border-box;
}


.section-wrapper{
  padding: 96px 40px;
}


 .container-card {
        position: sticky;
        top:0;
        left:0;
      }

      .card {
  border-bottom: 1px solid transparent;

}


.continuous-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.social-links  a{
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}


/* global.css */
.tooltip {
  @apply pointer-events-none absolute -top-10 left-1/2 -translate-x-1/2
         whitespace-nowrap rounded-md bg-black px-3 py-1 text-xs text-white
         opacity-0 scale-95 transition-all duration-200 ease-out;
}

.group\/icon:hover .tooltip {
  @apply opacity-100 scale-100;
}
