@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-secondary: "Inter", sans-serif;
  --font-primary: "DM Sans", sans-serif;
    --w-8xl: 1440px;
   --color-dark: rgba(45, 45, 45, 1);
   --secondary-text:rgba(179, 179, 179, 1);
}

@layer utilities {
  .max-w-8xl {
    max-width: 1440px;
  }
}




.font-primary {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
}

.font-secondary {
  font-family: var(--font-secondary);
  font-optical-sizing: auto;
}


.custom-tracking {
  letter-spacing: 0.02em; /* 2% */
}


*{
  box-sizing: border-box;
}


.section-wrapper{
  padding: 96px 40px;
}


 .container-card {
        position: sticky;
        top:0;
        left:0;
      }

      .card {
  border-bottom: 1px solid transparent;

}


.continuous-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}


